@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Noto Sans", sans-serif;
    }

    /* Keep adding variants for button here */
    button.primary {
        @apply block text-white bg-green-700 text-sm rounded-3xl px-4 py-2 m-0 hover:bg-green-800;
    }

    button.primary:disabled {
        @apply opacity-60 pointer-events-none;
    }
}

.ql-editor {
    @apply font-noto-serif text-lg !p-0 md:p-4;
}

.ql-editor.ql-blank::before {
    @apply inset-0 not-italic text-gray-400 font-light text-xl;
}

.quill {
    min-height: 500px;
}

.blog-card .quill {
    min-height: 50px;
}

.blog-card .ql-editor {
    padding: 0;
}

.blog-card .ql-editor p,
.blog-card .ql-editor h1,
.blog-card .ql-editor h2,
.blog-card .ql-editor h3 {
    @apply text-sm
}